body {
  margin: 0;
}

/* a {
  display: inherit;
  text-decoration: inherit;
  color: inherit;
} */

/* :-webkit-any-link {
  display: inherit;
  text-decoration: inherit;
  color: inherit;
}

:-moz-any-link {
  display: inherit;
  text-decoration: inherit;
  color: inherit;
} */

/* a {
  display: inherit;
  text-decoration: inherit;
  color: inherit;
} */
